<div class="row-fluid" ng-show="!login.cookie">
	<div class="login-form">
	  <h2>Login</h2>
	  <form action="">
	    <fieldset>
	      <div class="clearfix">
	        <input type="text" placeholder="Username">
	      </div>
	      <div class="clearfix">
	        <input type="password" placeholder="Password">
	      </div>
	      <button class="btn btn-primary" type="submit">Sign in</button>
	    </fieldset>
	  </form>
	</div>
	</div>
</div>

<div ng-show="login.cookie">
	<h2>Logout {{login.cookie.name}}</h2>
	<hr />
	<a class="btn btn-danger">Logout {{login.cookie.name}}</a>
	<a href="#/" class="btn btn-primary">Back</a>
</div>